.contactUs {
  width: fit-content;
  background-color: #46b0e6;
  color: #ffffff !important;
  filter: drop-shadow(0 10px 40px #46b1e6);
  padding: 1em 2em;
  font-size: 1em;
  border-radius: 40px;
  font-weight: 600;
}

@media (max-width:768px) {
  .contactUs {
    font-size: 14px;
    filter: drop-shadow(0 8px 10px #46b1e6);
  }

}