#root{
  width: 100vw;
  /* width: 1440px; */
  min-height: 100vh;
  background-color: #ebf0ff;
  padding: 4em 7.5em 2.5em;
}
/* MediaQueries */

@media (max-width: 1280px) {
  #root{
    padding: 3em 5.25em 2em;
  }
}
@media (max-width: 1024px) {
  #root{
    padding: 2em 3.75em 1em;
  }
}
@media (max-width: 640px) {
  #root{
    padding: 1em 1.875em;
  }
}
@media (max-width: 425px) {
  #root{
    padding: 0.5em 0.9375em;
  }
}