*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  }

  body{
    overflow-x: hidden;
  }
  
  a,li{
    text-decoration: none;
    list-style: none;
  }
  button{
    cursor: pointer;
    outline: none;
  }
  